body{
	background-color: white;
	margin: 0px;
	font-family: Arial;
}

#navbar ul{
	background-color: #BF5221;
	margin: 10px;
	height: 60px;
	padding: 30px;
	padding-top:50px;
	list-style-type:none;
	text-align: center;
}
#navbar ul li{
	
	display: inline;
	padding: 20px;
	color: #BF5221;
}
#navbar ul li a{
	
	text-decoration: none;
	font-family: Arial;
	padding: .2em 1em;
	color: black;
	background-color: #BF5221;
	
}
.main{
	background-color: white;
	margin: 10px;
	padding: 20px;
	margin-left:10px;
	margin-right:480px;
	margin-top:10px;
	margin-bottom:10px;
	text-align:center;
}
.main img{
	padding: 40px;
	max-width:100%;
	max-height:100%;
}
.sideright{
	background-color: white;
	margin-left:10px;
	margin-right:10px;
	margin-top:0px;
	margin-bottom:10px;
	padding: 20px;
	float:right;
	width: 420px;
	clear:right;
}
.sideright form{
	background-color: white;
	
}
.footer{
	margin:10px;
	height:60px;
	text-align:center;
	padding: 15px;
	font-size: 90%;
	background-color: lightgrey;
}
.footer ul{
	
	margin: 10px;
	list-style-type:none;
	text-align: center;
}
.footer ul li{
	
	display: inline;
	padding: 30px;
	
}
.footer ul li a{
	
	text-decoration: none;
	font-family: Arial;
	padding: .2em 1em;
	color: black;
	
	
}
.logo{
	font-size: 30px;
	padding: 90px;
}
input{
 	border: 2px solid grey;
  	padding: 20px 30px;
  	margin: 8px 0px;
  	width:250px;
}
button{
	background-color: black;
	border: grey;
	font-size: 20px;
	color: white;
	padding: 15px;
	width: 190px;
	margin-left: 50px;
}
#form_heading1{
	font-size: 30px;
	padding: 20px;
	text-align: left;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-left: 35px;
}
#form_heading2{
	font-size: 20px;
	padding: 5px;
	text-align: left;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-left: 15px;
}

@media (max-width: 920px){

.main{
	display: none;
}
.sideright{
	clear: both;
}
.footer{
	clear:both;
}
#navbar{
	position: fixed;
	width:30%;
	height: 100%;
	left:-50%;
	background-color: white;
}
#navbar li{
	color: white;
	font-size: 15px;
	padding: 30px;
	text-align: center;
	color: grey;
}
.toggle-btn{
	position: absolute;
	left:180%;
	top:15px;
}
.toggle-btn span{
	display: block;
	background-color: black;
	width: 30px;
	height: 5px;
	margin: 3px;
}
#navbar.active{
	left:0;
}
}