.myNav {
	background-color: #FF726A;
}

.mybtn {
	background-color: #4189CC;
}

.myHomeCarousel {
	margin-top: 2%;
}

body, button, label {
	/* 	font-family: "National", "Helvetica", "Arial", sans-serif;
 */
	font-family: 'Century Gothic', Verdana, 'Helvetica Neue', sans-serif;
	letter-spacing: 1px;
	line-height: 1.44;
}

body{
    min-height: 100vh;
    box-sizing: border-box;
}

button {
	color: white;
}

.myhomeheader {
	font-family: 'Indie Flower', cursive;
	margin-top: 2%;
	letter-spacing: 1px;
	line-height: 1.44;
	font-weight: bold;
}

.container-fluid {
	/* background-color: #F8FAFB;
 */
	background-color: white;
}

.myHomeSection1 {
	margin-top: 5%;
	background-color: #F8FAFB;
	margin-bottom: 5%;
}

.myCol1Section1 {
	padding-top: 5%;
	padding-bottom: 5%;
}

.myCol2Section1 {
	padding-top: 5%;
	padding-bottom: 5%;
}
.journeyHeader
{
padding-bottom: 5%;
}
.journeyPara
{
padding-bottom: 5%;
}
.blueTheme {
	color: #4189CC;
}

.mainThemeColor {
	color: #E66760;
}

.myHomeSection2 {
	background-color: #FF726A;
	color: white;
	margin-bottom: 5%;
}

.myCol1Section2 {
	padding-top: 5%;
	padding-bottom: 3%;
}

.sec2row2 {
	padding-left: 10%;
	padding-right: 10%;
}

.valueHeader {
	padding-top: 5%; font-weight : bold;
	padding-bottom: 5%;
	font-weight: bold;
}


.footer
{

text-align: center;
padding: 2% 0;
background-color: lightgrey;
}


.footer label
{
    padding:0 2% 0 2%;
}


footer
{
  
  right: 0;
  bottom: 0;
  left: 0;
  margin-bottom: 0;
}

